name: Zooni CI
on:
  pull_request:
  push: { branches: master }
jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build docker containers and run tests
        run: |
          docker compose build
          docker compose run -T --rm sugar npm test
          docker compose run -T --rm sugar npm run compile-client


